/* -------------- LOGIN PAGE ----------------*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f2ecef; /* main text color */
}

.login-box {
    position: relative;
    width: 350px;
    padding: 30px;
    background-color: white;
    border: 2px solid #6d1e43; /* magenta border */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.input-group .icon {
    margin-right: 10px;
    font-size: 1.2rem;
}

input[type="email"],
input[type="password"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #e49439; /* orange */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #722549; /* active text color */
}

.error-message {
    color: red;
    margin-top: 10px;
}


/*  --------  CLICK TO TRANSLATE  --------  */
.translateTxtLogin{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.translateTxtLogin:hover{
    text-decoration: underline;
    color: #6d1e43;
}
