.admin-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #e49439; /* Orange */
    padding: 20px;
  }
  
  .sidebar h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f2ecef; /* Main Text */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 8px 0;
  }
  
  .sidebar ul li .active-text {
    font-weight: bold;
    color: #722549; /* Active Text */
  }
  
  .sidebar ul li .non-active {
    color: #404040; /* Non-Active Text */
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background: #f2ecef; /* Main Background */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #6d1e43; /* Magenta */
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .language-button, .logout-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 15px;
    color: #6d1e43; /* Magenta */
  }
  
  .content {
    padding: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #722549; /* Active Text */
    border-radius: 4px;
    background-color: #f2ecef; /* Main Background */
    color: #404040; /* Non-Active Text */
  }
  
  .pickup-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pickup-table th, .pickup-table td {
    border: 1px solid #6d1e43; /* Magenta */
    padding: 8px;
    text-align: center;
    background-color: #f2ecef; /* Main Background */
    color: #404040; /* Non-Active Text */
  }
  
  .approve-btn {
    color: #e49439; /* Orange */
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reject-btn {
    color: #6d1e43; /* Magenta */
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
  }
  