/* General Styling */
body {
    background-color: #f2ecef;
    font-family: Arial, sans-serif;
  }
  
  /* Admin Container */
  .admin-container {
    display: flex;
    height: 100vh;
  }
  
  /* Main Content */
  .main-content {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e49439;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
  }
  
  .header-right {
    display: flex;
    gap: 10px;
  }
  
  .language-button,
  .logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Content */
  .content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px); /* Adjust for header height */
    overflow: hidden;
  }
  
  .table-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: auto;
  }

  .product-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .product-header input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #6d1e43;
  }
  
  .add-btn {
    background-color: #e49439;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Table */
  .product-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #ddd;
  }
  
  .product-table th,
  .product-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .product-table th {
    background-color: #6d1e43;
    color: #f2ecef;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .edit-btn,
  .delete-btn {
    border: 1px solid #6d1e43;
    color: black;
    background: none;
    cursor: pointer;
  }

  .edit-btn:hover{
    color: white;
    background-color: green;
    border: 1px solid green;
  }

  .delete-btn:hover{
    color: white;
    background-color: red;
    border: 1px solid red;
  }
  