body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}
 
.profile-container {
  max-width: 800px;
  margin: 40px auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
h3 {
  color: #6d1e43;
  font-size: 32px;
  margin-bottom: 30px;
}
 
label {
  display: block;
  font-weight: bold;
  margin-top: 12px;
  color: #404040;
}
 
label span {
  font-weight: normal;
  color: #722549;
  margin-left: 10px;
}
 
input[type="text"] {
  width: 60%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 
button {
  background-color: #e49439;
  color: #f2ecef;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
 
button:hover {
  background-color: #d6832f;
}
 
.edit-button {
  display: inline-block;
  margin-bottom: 20px;
}
 
.dual-address {
  display: flex;
  gap: 12px;
}
 
.dual-address input {
  flex: 1;
}
 
div {
  color: #404040;
}